- content_for :title do
  Academics
=# currently_at 'Academics'

%section.panel#panel-name
  .container
    .panel-name
      %p Star of the Northwest accepts qualified Alaska students statewide who are entering their junior or senior year of high school. Students complete their general requirements and elective courses, and specialized work in our one of four career pathways . (link?)
      %p Students have access to the combined resources of Kotzebue High School, Alaska Technical Center and the University of Alaska. Star is a grade “11-14” program, allowing students a seamless opportunity to graduate from high school, complete career training and earn college certificates and even degrees.

%section.panel.star-panel#network
  .container
    .network
      %h2 Train with the best equipment and technology in Alaska.
      %p Alaska Technical Center provides Star of the Northwest with a brand new multi-million dollar state-of-the-art facility. Each program has classroom and lab or shop facilities designed based on industry input and guidelines. Train on the equipment you will use in the workplace.
      %a{href: 'https://www.dropbox.com/s/zoyv1oko3j7dem2/SAMPLE%2013.png?dl=0', title: ''} Image

%section.panel#network
  .container
    .network
      %h2 The star community, a network for life.
      %p Star of the Northwest curriculum includes extensive soft skills instruction to prepare you to thrive with colleagues in the workplace.  Star students are positive, supportive citizens who will add to the Star community, and build a lifelong network of relationships.
      %a{href: 'https://www.dropbox.com/s/c0709b6bjm8vb1j/SAMPLE%2012.png?dl=0', title: ''} Image

%section.panel.star-panel#panel-name
  .container
    .panel-name
      %p
        %strong MiniStar
        programs are one-week intensive academic and career exploration courses at the star of the Northwest campus in Kotzebue. They are offered to students from outlying villages. Middle and high schoolers can participate in MiniStar programs.
      %p
        %strong ReadyStar
        programs are two weeks in length.  They offer a more in-depth academic and career preparation experience for juniors and seniors who come in from their community school.
      %p
        %strong StarNet
        courses are high school classes delivered throughout the Northwest Arctic Borough School District via video distance delivery.  They provide students with quality interactive specialty courses taught by subject experts.  Like all Star programs, these courses are designed to help students select and prepare for their future careers.
      %p Speak with your school counselor or principal to learn more.
