- content_for :title do
  Career Pathways
=# currently_at 'Career Pathways'

%section.panel#panel-name
  .container
    .panel-name
      %h2 Culinary Arts
      %p This is a growing career field for high-energy people who love to plan, produce and serve creative meals. The culinary program blends classroom, training kitchen and industry work experience to prepare students for jobs and advanced training. Students can begin work toward industry and university certifications while still in high school.

      %h2 Education Careers
      %p Educators have a tremendous opportunity and responsibility to foster students and create leaders for the future. Students study topics related to educational careers, gain experience working in classrooms, and begin work towards qualifying as a teacher assistant or classroom teacher. As 11th and 12th grade Star students, they begin earning college credit toward associate and bachelor’s degrees.

      %h2 Health Care
      %p Health care students begin to prepare for challenging careers in one of the fastest growing fields worldwide; they improve the quality of life for the people in their care. Serious students have the opportunity to graduate from high school as a Certified Nurse Aide, licensed by the State of Alaska. They earn college credit transferable to university degree programs.

      %h2 Process Technology
      %p Process Technologists monitor and control industry equipment and processes for Alaska employers in the oil and gas, mining, power generation industries.  Individuals who like technology, science and mathematics are drawn to this pathway.  Star high school students can earn college credit toward an AAS degree offered in Kotzebue through Alaska Technical Center and the University of Alaska.
