- content_for :title do
  Is STAR for Me?
=# currently_at 'Is STAR for Me?'

%section.panel#panel-name
  .container
    .panel-name
      %p Star is for Alaska high school juniors and seniors with an interest in careers in the culinary, education, health care and process industries.  We accept capable students with solid academic skills in reading, language and mathematics.  We specialize in developing students committed to developing academic and career skills. We seek positive, supportive citizens who will add to the Star of the Northwest community.
