- content_for :title do
  Star Home
=# currently_at ''

%section#hero
  #carousel_star
    .slide.active
      .slide-block
        %h1 Star of the Northwest Magnet School is the best choice for Alaska's forward thinking high school students
    .slide.active
      .slide-block
        %h1
          A 21st-century education and training facility...
          %br
          Right here at home.
    .slide
      .slide-block
        %h1 A safe, positive structure parents expect.
        %a{:href => '#', :title => ''} Inquire Now
    .slide
      .slide-block
        %h1 The classes, activities and events students love.
        %a{:href => '#', :title => ''} Inquire Now

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#grid
  .container
    .grid
      %h3 We set high expectations and provide high levels of support for our students. Our focus on people results in your success.
      %ul.gallery
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/622x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %p Opportunity: In-demand careers: Culinary, Health Care, Education, Process Technology
        %li.gallery_item
          %p Student Life: A safe, exciting residence life program designed with parent guidance.
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
      %p.ctr
        %button Inquire

%section.panel.star-panel#gifts
  .container
    .gifts
      %h2 Our students find their gifts.
      %p High school students need to think about what’s next after graduation. This is difficult. At Star students have the opportunity to finish the last two years of high school, while finding their true gifts. By exploring one of our four career pathways, they work toward industry certifications and college credits.
      %ol
        %li
          Culinary Arts
          %br
          %em
            Image Rollover:
          Part art, part science, entirely focused on career preparation.
        %li
          Education Careers
          %br
          %em
            Image Rollover:
          Today's learners; tomorrow's Alaska teacher-leaders.
        %li
          Health Care
          %br
          %em
            Image Rollover:
          Skills, compassion, service and opportunity.
        %li
          Process Technology
          %br
          %em
            Image Rollover:
          Make a quality life for yourself, and future generations.)

%section.panel#revolutionary
  .container
    .revolutionary
      %h2 A Revolutionary Approach to Education.
      %p We prepare students for high-paying, high demand jobs.
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Image'}

      %p Star is a comprehensive high school and post-secondaryprograms by and for rural Alaskans.  It is a coordinated effort of the Northwest Arctic Borough School District, Alaska Technical Center and the University of Alaska.
      %p The grades 11-14 structure serves secondary and adult learners and results in industry and college certifications.  It includes a residential magnet school serving students statewide, and one and two week Kotzebue-based special programs available to students from all Northwest Arctic schools.
      %p We prepare students for high-paying, high demand jobs.
      %p (Four Video blocks as shown on hand-written notes sent earlier)
      %a{href: '#', title: ''} Learn more about MiniSTAR and ReadySTAR intensive programs

%section.panel.star-panel#network
  .container
    .network
      %h2 Train with the best equipment and technology in Alaska.
      %p Alaska Technical Center provides Star of the Northwest with a brand new multi-million dollar state-of-the-art facility. Each program has classroom and lab or shop facilities designed based on industry input and guidelines. Train on the equipment you will use in the workplace.
      %a{:href => '#', :title => ''} Learn More

%section.panel#network
  .container
    .network
      %h2 The star community, a network for life.
      %p Star of the Northwest curriculum includes extensive soft skills instruction to prepare you to thrive with colleagues in the workplace.  Star students are positive, supportive citizens who will add to the Star community, and build a lifelong network of relationships.

%section.panel.star-panel#inquire
  .container
    .inquire
      %button Inquire
