- content_for :title do
  Star Home
=# currently_at ''

%section#hero
  #carousel_star
    .slide.active
      .slide-block
        %h1 A One-Stop Shop for High School and Career Training
    .slide
      .slide-block
        %h1 The Best of Both Worlds
        %h2 Quality education right here in Alaska
        %a{:href => '#', :title => ''} Apply Now
    .slide
      .slide-block
        %h1 Prepare to work globally right here in Alaska
        %a{:href => '#', :title => ''} Apply Now
    .slide
      .slide-block
        %h1 For Parents and Families...
        %h2 We provide:
        %ul
          %li A great education
          %li Regular communication between you, your child and their staff advisor
          %li A safe, secure environment with positive structure
        %a{:href => '#', :title => ''} Learn More
    .slide
      .slide-block
        %h1 Student Life
        %h2 The safe, positive structure parents expect
        %h2 The classes, activities and events students love
        %a{:href => '#', :title => ''} Learn More
    .slide
      .slide-block
        %h1 The Star Community, a Network for Life
        %a{:href => '#', :title => ''} Learn More

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#panel-1
  .container
    .panel-1
      %h1 Student Life
      %p (description)

%section.panel#panel-1
  .container
    .panel-1
      %h1 Delivery Models
      %p (description)
      %p (delivery models photo)

%section.panel#panel-1
  .container
    .panel-1
      %h1 Video/s

%section.panel#panel-1
  .container
    .panel-1
      %h1 Inquiry
