- content_for :title do
  Star Home
=# currently_at ''

%section#hero
  #carousel_star
    .slide.active
      .slide-block
        %h1 A 21st-century education and training facility...
        %h2 Right here at home.
    .slide
      .slide-block
        %h1 Our students train with the best equipment and technology in Alaska.
        %p
        %a{:href => '#', :title => ''} Learn More
    .slide
      .slide-block
        %h1 A safe, positive structure parents expect.
        %a{:href => '#', :title => ''} Inquire Now
    .slide
      .slide-block
        %h1 The classes, activities and events students love.
        %a{:href => '#', :title => ''} Inquire Now

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#panel-1
  .container
    .panel-1
      %p Image/video games

%section.panel#panel-1
  .container
    .panel-1
      %h1 Our students find their gifts . . .
      %p High school students often find themselves wondering what’s next after graduation.  Figuring this out can be exhausting.  At Star, students have the opportunity to finish the last two years of high school while finding their true gifts by exploring one of our <career pathways>.

%section.panel#panel-1
  .container
    .panel-1
      %h1 A Revolutionary Approach to Education.
      %p We prepare students for high-paying, high demand jobs.
      %p (delivery models photo)

%section.panel#panel-1
  .container
    .panel-1
      %h1 The star community, a network for life.
      %p Our students build peer and professional relationships that last and grow well beyond high school

%section.panel#panel-1
  .container
    .panel-1
      %h1 Inquire
