- content_for :title do
  Star Home
=# currently_at ''

%section#hero
  #carousel_star
    .slide.active
      .slide-block
        %h1 Star of the Northwest Magnet School is the best choice for Alaska's forward thinking high school students
    .slide.active
      .slide-block
        %h1
          A 21st-century education and training facility...
          %br
          Right here at home.
    .slide
      .slide-block
        %h1 A safe, positive structure parents expect.
        %a{:href => '#', :title => ''} Inquire Now
    .slide
      .slide-block
        %h1 The classes, activities and events students love.
        %a{:href => '#', :title => ''} Inquire Now

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#grid
  .container
    .grid
      %h3 We set high expectations and provide high levels of support for our students. Our focus on people results in your success.
      %ul.gallery
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/622x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
      %p.ctr
        %button Inquire

%section.panel.star-panel#gifts
  .container
    .gifts
      %h2 Our students find their gifts.
      %p High school students need to think about what’s next after graduation. This is difficult. At Star students have the opportunity to finish the last two years of high school, while finding their true gifts. By exploring one of our four career pathways, they work toward industry certifications and college credits.
      %ol
        %li Culinary Arts
        %li Education Careers
        %li Health Care
        %li Process Technology
%section.panel#revolutionary
  .container
    .revolutionary
      %h2 A Revolutionary Approach to Education.
      %p We prepare students for high-paying, high demand jobs.
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Image'}

%section.panel.star-panel#network
  .container
    .network
      %h2 Train with the best equipment and technology in Alaska.
      %p
      %a{:href => '#', :title => ''} Learn More

%section.panel#network
  .container
    .network
      %h2 The star community, a network for life.
      %p Our students build peer and professional relationships that last and grow well beyond high school

%section.panel.star-panel#inquire
  .container
    .inquire
      %button Inquire
