- content_for :title do
  Star Home
=# currently_at ''

%section#hero
  .iosslider
    .slider
      .slide.hero1
        .container
          %h1.text
            %span.light.fade1
              The best choice
            %br
            %span.thin.fade2
              for Alaska's forward thinking
              %br
              high school students
      .slide.hero1b
        .container
          %h1.text
            %span.light.fade1
              The best choice
            %br
            %span.thin.fade2
              for Alaska's forward thinking
              %br
              high school students
      .slide.hero2
        .container
          %h1.thin.swish1
            We provide a safe, positive
            %br
            structure parents expect.
          .swish2
            %a{:href => '#', :title => ''} Learn More
      .slide.hero2b
        .container
          %h1.thin.swish1
            We provide a safe, positive
            %br
            structure parents expect.
          .swish2
            %a{:href => '#', :title => ''} Learn More
      .slide.hero3
        .container
          %h1.thin.swish1
            And the classes, activities
            %br
            and events students love.
          .swish2
            %a{:href => '#', :title => ''} Inquire Now
      .slide.hero3b
        .container
          %h1.thin.swish1
            And the classes, activities
            %br
            and events students love.
          .swish2
            %a{:href => '#', :title => ''} Inquire Now
      .slide.hero4
        .container
          %h1.thin.swish1
            All in a 21st-century education
            %br
            and training facility...
          %h1.light.fade3 Right here at home.
      .slide.hero4b
        .container
          %h1.thin.swish1
            All in a 21st-century education
            %br
            and training facility...
          %h1.light.fade3 Right here at home.
      .slide.hero4c
        .container
          %h1.thin.swish1
            All in a 21st-century education
            %br
            and training facility...
          %h1.light.fade3 Right here at home.
    .container
      .prev-slide
      .next-slide
      .slider-buttons
        .button.selected
        .button
        .button
        .button
        .button
        .button
        .button
        .button
        .button

%section.panel#grid
  .container
    .grid
      %h3 We set high expectations and provide high levels of support for our students. Our focus on people results in your success.
      %ul.gallery
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/622x300/FFFF99&text=Video'}
        %li.gallery_item
          %a{href: 'https://www.dropbox.com/s/j8nvlucrppuz0ka/STNW_ATC_HABEGER_Hi-RES-8054.jpg?dl=0', title: ''} Image
        %li.gallery_item
          %p Opportunity: In-demand careers: Culinary, Health Care, Education, Process Technology
        %li.gallery_item
          %p Student Life: A safe, exciting residence life program designed with parent guidance.
        %li.gallery_item
          %a{href: 'https://www.dropbox.com/s/ud2f9xo79i8z057/ETT%27s%20with%20attitude%21.JPG?dl=0', title: ''} Image
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %a{href: 'https://www.dropbox.com/s/ggkqvt6jbluynph/SAMPLE%2014.png?dl=0', title: ''} Image
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %a{href: 'https://www.dropbox.com/s/hu678ilc45ldapa/DSC_0008.JPG?dl=0', title: ''} Image
      %p.ctr
        %button Inquire

%section.panel.star-panel#gifts
  .container
    .gifts
      %h2 Our students find their gifts.
      %p High school students need to think about what’s next after graduation. This is difficult. At Star students have the opportunity to finish the last two years of high school, while finding their true gifts. By exploring one of our four career pathways, they work toward industry certifications and college credits.
      %ol
        %li
          Culinary Arts
          %br
          %a{href: 'https://www.dropbox.com/s/mx8q3x2isvh2rrv/IMG_6333.jpg?dl=0', title: ''} Image
          %br
          %em Image Rollover: Part art, part science, entirely focused on career preparation.
        %li
          Education Careers
          %br
          %a{href: 'https://www.dropbox.com/s/o9aglh28fqx0rpk/SAMPLE%2011.png?dl=0', title: ''} Image
          %br
          %em Image Rollover: Today's learners; tomorrow's Alaska teacher-leaders.
        %li
          Health Care
          %br
          %a{href: 'https://www.dropbox.com/s/dbiqbp98kbl495l/STNW_ATC_HABEGER_Hi-RES-8069.jpg?dl=0', title: ''} Image
          %br
          %em Image Rollover: Skills, compassion, service and opportunity.
        %li
          Process Technology
          %br
          %a{href: 'https://www.dropbox.com/s/vx4po2o4ry68ayw/IMG_4881.jpg?dl=0', title: ''} Image
          %br
          %em Image Rollover: Make a quality life for yourself, and future generations.

%section.panel#revolutionary
  .container
    .revolutionary
      %h2 Through a Revolutionary Approach to Education.
      %p Star is a comprehensive high school and post-secondary programs by and for rural Alaskans. It is a coordinated effort of the Northwest Arctic Borough School District, Alaska Technical Center and the University of Alaska.
      %p The grades 11-14 structure serves secondary and adult learners and results in industry and college certifications.  It includes a residential magnet school serving students statewide, and one and two week Kotzebue-based special programs available to students from all Northwest Arctic schools.
      %p We prepare students for high-paying, high demand jobs.
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %br
      %br
      %a{href: '#', title: ''} Learn more about MiniSTAR and ReadySTAR intensive programs

%section.panel.star-panel#inquire
  .container
    .inquire
      %button Inquire
