- content_for :title do
  Complete Inquiry Form
=# currently_at 'Complete Inquiry Form'

%section.panel#panel-name
  .container
    .panel-name
      (Click to request additional information about STAR - put in a form with this info that can be electronically submitted to star@nwarctic.org)
      o Name (First, Last)
      o Address
      - Street/PO
      - City
      - State
      - Zip
      o Telephone
      o Email
      o High Schools attended
      - Name
      - Location
      - Currently Enrolled?
      • Yes
      • No
      - High School graduate?
      • Year
      o I am interested in (check all that apply)
      - Culinary Arts
      - Education Careers
      - Health Care
      - Process Technology
      o Expected Entry Date
      - August or January
      - Year
      o Additional comments or questions (space to type in)
      o How did you hear about Star? (Check)
      - Online
      - School staff
      - Family
      - Friends
      - Advertisement
      - Other (blank to fill)
      o Please have someone contact me by (check)
      - Phone
      - Email
      - Mail
