- content_for :title do
  Partnerships
=# currently_at 'Partnerships'

%section.panel#panel-name
  .container
    .panel-name
      %ul
        %li Teck
        %li Shell Alaska
        %li Nova Copper
        %li Conoco Phillips
        %li NANA
        %li NMS
        %li Maniilaq
        %li Northwest Arctic Borough
        %li University of Alaska
