- content_for :title do
  MiniStar, ReadyStar and StarNet Programs
=# currently_at 'MiniStar, ReadyStar and StarNet Programs'

%section.panel#panel-name
  .container
    .panel-name
      %p MiniStar programs are one-week intensive academic and career exploration courses at the star of the Northwest campus in Kotzebue. They are offered to students from outlying villages. Middle and high schoolers can participate in MiniStar programs.
      %p ReadyStar programs are two weeks in length.  They offer a more in-depth academic and career preparation experience for juniors and seniors who come in from their community school.
      %p StarNet courses are high school classes delivered throughout the Northwest Arctic Borough School District via video distance delivery.  They provide students with quality interactive specialty courses taught by subject experts.  Like all Star programs, these courses are designed to help students select and prepare for their future careers.
      %p Speak with your school counselor or principal to learn more.
