- content_for :title do
  Star of the Northwest Residential Life
=# currently_at 'Star of the Northwest Residential Life'

%section.panel#panel-name
  .container
    .panel-name
      %p Our new secondary school dormitory offers students a safe, warm and comfortable living space. The Residential Life Coordinator administers the programs and is the main point of contact for the families of our students. The residential programs and our system for communicating with families at home were designed with parent input. Our commitment our students and their family is our first priority.
