- content_for :title do
  A Safe, Positive Structure
=# currently_at 'A Safe, Positive Structure'

%section.panel#panel-name
  .container
    .panel-name
      %p Star students are busy. They thrive on our blend of academic, cultural and community activities. Students have full access to Kotzebue High School’s quality activities program, as well as special activities just for our residential community. Our teaching and residential staff are carefully chosen and thoroughly trained. We provide a positive environment and emphasize safety, academic support and student participation.
