- content_for :title do
  High School and Beyond
=# currently_at 'High School, Technical Education and College'

%section.panel#panel-name
  .container
    .panel-name
      %p Star of the Northwest accepts qualified Alaska students statewide who are entering their junior or senior year of high school. Students complete their general requirements and elective courses, and specialized work in our one of four career pathways . (link?)
      %p Students have access to the combined resources of Kotzebue High School, Alaska Technical Center and the University of Alaska. Star is a grade “11-14” program, allowing students a seamless opportunity to graduate from high school, complete career training and earn college certificates and even degrees.
