- content_for :title do
  Student Life
=# currently_at 'Student Life'

%section.panel#panel-name
  .container
    .panel-name
      %h2 A Safe, Positive Structure
      %p Star students are busy. They thrive on our blend of academic, cultural and community activities. Students have full access to Kotzebue High School’s quality activities program, as well as special activities just for our residential community. Our teaching and residential staff are carefully chosen and thoroughly trained. We provide a positive environment and emphasize safety, academic support and student participation.

%section.panel#panel-name
  .container
    .panel-name
      %h2 Star of the Northwest Residential Life
      %p Our new secondary school dormitory offers students a safe, warm and comfortable living space. The Residential Life Coordinator administers the programs and is the main point of contact for the families of our students. The residential programs and our system for communicating with families at home were designed with parent input. Our commitment our students and their family is our first priority.
