- content_for :title do
  Who We Are
=# currently_at 'Who We Are'

%section.panel#panel-name
  .container
    .panel-name
      %p The Northwest Arctic Borough School District has established a unique new school in Kotzebue, serving Alaskan students statewide.  Star of the Northwest provides students in grades 11-14 with industry backed curricula preparing them for careers in Alaska’s high-demand fields. Through a creative partnership with Kotzebue High School, Alaska Technical Center, and the University of Alaska, the school maximizes educational resources for our students.
