- content_for :title do
  Adult Basic Education
=# currently_at 'Adult Basic Education'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC offers comprehensive Adult Education services, including preparation and testing for the General Education Development (GED) diploma.  Personalized Guided Instructional Support is provided for all ATC students as they master the challenges of our industry standards-based curricula and earn college certificates and diplomas. Employability skills certification programs are also supported.
