- content_for :title do
  Construction Trades
=# currently_at 'Construction Trades'

%section.panel#panel-name
  .container
    .panel-name
      %p Our Construction Trades program provides students with the carpentry skills necessary to obtain entry-level positions in Alaska’s growing building industry.  Students learn construction fundamentals, utilizing new building techniques, materials and processes.  The program incorporates the advances in cold-climate building technology vital to Alaska’s construction industry.
