- content_for :title do
  Training Costs
=# currently_at 'Training Costs'

%section.panel#panel-name
  .container
    .panel-name
      %h2 TRAINING COSTS
      %p Please upload the following document to see more information about training costs.
