- content_for :title do
  Culinary Arts
=# currently_at 'Culinary Arts'

%section.panel#panel-name
  .container
    .panel-name
      %p This is a growing career field for high-energy people who love to plan, produce and serve creative meals. The culinary program blends classroom, training kitchen and industry work experience to prepare students for jobs and advanced training. Students earn industry and university certifications and the employment advantage of completing externships in Kotzebue’s major commercial kitchens.
