- content_for :title do
  Education Careers
=# currently_at 'Education Careers'

%section.panel#panel-name
  .container
    .panel-name
      %p Educators have a tremendous opportunity and responsibility to foster students and create leaders for the future. Students study educational theory, gain substantial experience working in classrooms, and qualify for careers as a teacher assistant or classroom teacher.  Associate and bachelor’s degrees can be completed in Kotzebue.  We are committed to developing the next generation of Alaska’s educators.
