- content_for :title do
  A Professional Environment
=# currently_at 'A Professional Environment'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC students are busy, capable and productive. They thrive on our blend of classroom instruction, hands-on learning and workplace experience. They apply and perfect workplace skills in their daily work. Our teaching staff is carefully chosen and thoroughly trained. We provide a positive environment and emphasize safety, academic support and student participation.
