- content_for :title do
  Financial Aid
=# currently_at 'Financial Aid'

%section.panel#panel-name
  .container
    .panel-name
      %h2 SCHOLARSHIPS AND FINANCIAL AID
      %p Local scholarships are available to students from various organizations within the Northwest Arctic Region.  Each organization may have their own criteria, but include similar requirements related to transcripts, letters of recommendation, and registration.
      %p Other financial aid opportunities may include the Alaska Department of Labor or the Alaska Commission on Postsecondary Education Program.
