- content_for :title do
  Our Guarantee
=# currently_at 'Our Guarantee'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC is unique in many ways; no other training center guarantees the quality of its’ graduates to their future employers.  This quote is from an open letter to Alaskan employers, from ATC Director Cheryl Edenshaw:
%blockquote
  %p &#147;I want you to know that our graduates come with a guarantee. After completing our programs and earning our certificates, if graduates lack a skill that was part of the curriculum, send them back. We’ll reteach the missing skill at no cost to you.&#148;
  %footer
    %cite
