- content_for :title do
  Healthcare
=# currently_at 'Healthcare'

%section.panel#panel-name
  .container
    .panel-name
      %p Health care students prepare for challenging careers in one of the fastest growing fields worldwide; they improve the quality of life for the people in their care. Students have the opportunity to qualify as a Certified Nurse Aide, licensed by the State of Alaska. Through classroom, practical, and clinical training, they earn college credit transferable to university nursing degree programs.
