- content_for :title do
  ATC Home

%section#hero
  #carousel_atc
    .slide.active
      .slide-block
        %h1 Career Training
        %p We're all about jobs, preparing you for high paying, high-demand careers.
    .slide
      .slide-block
        %h1 Alaska's Best Secret. Why?
        %ol
          %li Amazing facilities
          %li Quality programs
          %li All right here in Alaska
    .slide
      .slide-block
        %h1 You Can Do It!
        %p Invest in yourself.
        %a{:href => '#', :title => ''} Apply Now
    .slide
      .slide-block
        %h1 A Commitment to Education, Career and Life.

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'

  #pager
