- content_for :title do
  ATC Home
=# currently_at ''

%section#hero
  .iosslider
    .slider
      .slide.hero1
        .container
          %h1.text
            %span.light.fade1
              The best choice
            %br
            %span.thin.fade2
              for people who are serious
              %br
              about preparing for a career
      .slide.hero2
        .container
          %h1.text
            %span.light.fade1
              We're all about jobs
            %br
            %span.thin.fade2
              Preparing you for high paying,
              %br
              high-demand careers
      .slide.hero3
        .container
          %h1.thin.swish1
            Amazing facilities,
            %br
            quality programs...
          %h1.light.swish2
            All right here in Alaska
      .slide.hero4
        .container
          %h1.thin.swish1
            Invest in yourself
            %br
            We're here to help
          .swish2
            %a{href: '#', title: ''} Apply Now
    .container
      .prev-slide
      .next-slide
      .slider-buttons
        .button.selected
        .button
        .button
        .button

%section.panel#grid
  .container
    %h2 We set high expectations and provide high levels of support for our students. Our focus on people results in your success.
    %ul.gallery
      %li.grid-item
        .video-wrapper
          %iframe{src: '//player.vimeo.com/video/111178596',
                  width: '274',
                  height: '206',
                  frameborder: '0',
                  webkitallowfullscreen: '',
                  mozallowfullscreen: '',
                  allowfullscreen: ''}
      %li.grid-item.hover
        .item-wrapper
          .hover-wrapper
            %p Something something something.
      %li.grid-item
        .item-wrapper
          %p You can do college and career training at Alaska Technical Center.
      %li.grid-item
        .item-wrapper
          %p Build your education, career and life.
      %li.grid-item.hover
        .item-wrapper
          .hover-wrapper
            %p Something something something.
      %li.grid-item
        .video-wrapper
          %iframe{src: '//player.vimeo.com/video/111178601',
                  width: '274',
                  height: '206',
                  frameborder: '0',
                  webkitallowfullscreen: '',
                  mozallowfullscreen: '',
                  allowfullscreen: ''}
      %li.grid-item.hover
        .item-wrapper
          .hover-wrapper
            %p Something something something.
      %li.grid-item
        .video-wrapper
          %iframe{src: '//player.vimeo.com/video/111178637',
                  width: '274',
                  height: '206',
                  frameborder: '0',
                  webkitallowfullscreen: '',
                  mozallowfullscreen: '',
                  allowfullscreen: ''}
      %li.grid-item.hover
        .item-wrapper
          .hover-wrapper
            %p Something something something.
      = link_to 'Inquire', star_inquire_path, title: '', class: 'flat-button'

%section.panel.atc-panel#testimonials
  .container
    .testimonials
      %h2 Our high quality training prepares you for today’s workforce and tomorrow’s unknowns.
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %blockquote
        %p “Alaska Technical Center works with our state’s employers to develop training programs that will give you the skills for today’s jobs, and provide you with the attributes you will need to adapt to the future. We prepare you for 21st century careers in which you will have to master technologies that are beyond what we can imagine.”
        %footer
          %cite – Cheryl Edenshaw, Director

%section.panel#facilities
  .container
    .facilities
      %h2 Our Facilities and Technology
      %p ATC has a brand new multi-million dollar state-of-the-art facility.
      %a{href: 'https://www.dropbox.com/s/po5ofch32ts7kvc/IMG_6426.jpg?dl=0', title: ''} Image
      %p Our student-oriented campus is comfortable and welcoming.
      %a{href: 'https://www.dropbox.com/s/rkbm8wxvkf4qb3e/SAMPLE%2024.png?dl=0', title: ''} Image
      (Blurry, replace.)
      %p Each program has classroom and lab or shop facilities designed based on industry guidelines.
      %a{href: 'https://www.dropbox.com/s/jbzqkht42141e1v/IMG_4881.jpg?dl=0', title: ''} Image
      %p You will train on the same equipment you will use in the workplace.
      %a{href: 'https://www.dropbox.com/s/p5txmrlzixc69oc/5.jpg?dl=0', title: ''} Image

%section.panel.atc-panel#programs
  .container
    .programs
      %h2 Our Programs
      %p Our training programs stand up to the standards set by industry, business and government partners; they follow the guidelines of national associations, industry organizations; they are benchmarked with accredited University of Alaska programs.
      %p Adult Basic Education
      %a{href: 'https://www.dropbox.com/s/i3al7boaqlf9a56/SAMPLE%2020.png?dl=0', title: ''} Image
      %p Culinary Arts
      %a{href: 'https://www.dropbox.com/s/l02ipo2mbqpt2tb/SAMPLE%2023.jpeg?dl=0', title: ''} Image
      %p Construction Trades
      %a{href: 'https://www.dropbox.com/s/7lz1ram6t23q3xr/SAMPLE%2021.JPG?dl=0', title: ''} Image
      %p Education Careers
      %a{href: 'https://www.dropbox.com/s/587fj8pzhlbrf5o/SAMPLE%2022.png?dl=0', title: ''} Image
      %p Health Care
      %a{href: 'https://www.dropbox.com/s/7xrbdtpqwvsouk2/SAMPLE%209.png?dl=0', title: ''} Image
      %p Office Occupations
      %a{href: 'https://www.dropbox.com/s/zniqcwaayfxbphw/SAMPLE%2018.tiff?dl=0', title: ''} Image
      %p Process Technology
      %a{href: 'https://www.dropbox.com/s/92f2llv2gk3h4ex/IMG_7620.JPG?dl=0', title: ''} Image

%section.panel#sophisticated
  .container
    .sophisticated
      %h2 As sophisticated as we are with our facilities and our technology we never lose sight of our students.
      %a{href: 'https://www.dropbox.com/s/r0b23mcw6sujzax/10.jpg?dl=0', title: ''} Image

%section.panel.atc-panel#apply
  .container
    .apply
      %button Apply
