- content_for :title do
  ATC Home
=# currently_at ''

%section#hero
  #carousel_atc
    .slide.active
      .slide-block
        %h1 Career Training
        %p We're all about jobs, preparing you for high paying, high-demand careers.
    .slide
      .slide-block
        %h1 Alaska's Best Kept Secret. Why?
        %ol
          %li Amazing facilities
          %li Quality programs
          %li All right here in Alaska
        %a{:href => '#', :title => ''} Learn More
    .slide
      .slide-block
        %h1 Invest in yourself.
        %p We're here to help.
        %a{:href => '#', :title => ''} Apply Now

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#panel-1
  .container
    .panel-1
      %h1 Training (Testimonial)
      %p 1 or 2 videos of students talking about program/training
      %p (no captions - For HTML5 playback a single file for each of the following codecs: ogg (.ogv), mp4 (.mp4), and webm (.webm)).
      %p Testimonial from Cheryl
      %p (curriculum, materials, equipment selected with employers)

%section.panel#panel-1
  .container
    .panel-1
      %h1 Facilities and Technology
      %p (to do it in, training that is!)
      %p (as in we have the technology!)
      %p Brand new multi-million dollar state-of-the-art facilities
      %p (image)
      %p Same equipment you're going to use on the job
      %p (image)
      %p Specifically designed for each program/industry
      %p (image)
      %p Student oriented
      %p (image)

%section.panel#panel-1
  .container
    .panel-1
      %p As sophisticated as we are with our facilities and our technology we never lose sight of our students.

%section.panel#panel-1
  .container
    .panel-1
      %h1 Programs
      %p (industry backed!)
      %p Good balance between classroom and hands on learning.
      %p Approac employers with the question: you are our customers, what do you want our students to be like?
      %p What do you need in your workers?
      %p We are preparing them for careers we cannot even imagine.
      %p Industry is telling us what they want.
      %p All of our stuff stands up to outside standards, national associations, industry organizations, construction trades and benchmarked with universities for quality

%section.panel#panel-1
  .container
    .panel-1
      %h1 Apply
