- content_for :title do
  ATC Home
=# currently_at ''

%section#hero
  #carousel_atc
    .slide.active
      .slide-block
        %h1 Alaska Technical Center is the best choice for people who are serious about preparing for a career.
    .slide.active
      .slide-block
        %h2 Career Training
        %p We're all about jobs, preparing you for high paying, high-demand careers.
    .slide
      .slide-block
        %h1 Alaska's Best Kept Secret. Why?
        %ol
          %li Amazing facilities
          %li Quality programs
          %li All right here in Alaska
        %a{:href => '#', :title => ''} Learn More
    .slide
      .slide-block
        %h1 Invest in yourself.
        %p We're here to help.
        %a{:href => '#', :title => ''} Apply Now

  = link_to 'Previous', '#', :title => 'Previous', :id => 'prev', :class => 'control'
  = link_to 'Next', '#', :title => 'Next', :id => 'next', :class => 'control'
  #pager

%section.panel#grid
  .container
    .grid
      %h3 We set high expectations and provide high levels of support for our students. Our focus on people results in your success.
      %ul.gallery
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/622x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300/6699CC/ffffff&text=Text'}
        %li.gallery_item.long
          %img{alt: '', src: 'http://www.placehold.it/621x300/FFFF99&text=Video'}
        %li.gallery_item
          %img{alt: '', src: 'http://www.placehold.it/300x300&text=Image'}

%section.panel#testimonials
  .container
    .testimonials
      %h2 Our high quality training prepares you for today’s workforce and tomorrow’s unknowns.
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %blockquote
        %p “Alaska Technical Center works with our state’s employers to develop training programs that will give you the skills for today’s jobs, and provide you with the attributes you will need to adapt to the future. We prepare you for 21st century careers in which you will have to master technologies that are beyond what we can imagine.”
        %footer
          %cite – Cheryl Edenshaw, Director

%section.panel#facilities
  .container
    .facilities
      %h2 Facilities and Technology
      %p ATC has a brand new multi-million dollar state-of-the-art facility.
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Image'}
      %p Our student-oriented campus is comfortable and welcoming.
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Image'}
      %p Each program has classroom and lab or shop facilities designed based on industry guidelines.
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}
      %p You will train on the same equipment you're going to use in the workplace.
      %img{alt: '', src: 'http://www.placehold.it/200x200/FFFF99&text=Video'}

%section.panel#programs
  .container
    .programs
      %h2 Programs
      %p Our training programs stand up to the standards set by industry, business and government partners; they follow the guidelines of national associations, industry organizations; they are benchmarked with accredited University of Alaska programs.
      %p Adult Basic Education
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Culinary Arts
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Construction Trades
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Education Careers
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Health Care
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Office Occupations
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}
      %p Process Technology
      %img{alt: '', src: 'http://www.placehold.it/200x200&text=Link+to+program+page'}

%section.panel#sophisticated
  .container
    .sophisticated
      %h2 As sophisticated as we are with our facilities and our technology we never lose sight of our students.

%section.panel#apply
  .container
    .apply
      %button Apply
