- content_for :title do
  Our Instructors
=# currently_at 'Our Instructors'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC Instructors are dedicated to your success.  They are chosen based on their industry experience, formal education and teaching expertise.
