- content_for :title do
  Residential and Community Life
=# currently_at 'Residential and Community Life'

%section.panel#panel-name
  .container
    .panel-name
      %p Our adult dormitory offers students a safe, warm and comfortable living space. The ATC Recruiter/Administrator and Counselor/Employment Advisor administer the residential life program.  Students have access to Kotzebue’s recreational, cultural and community activities.  Many earn extra money and gain valuable work experience through part-times jobs while in school.
