- content_for :title do
  Office Occupations
=# currently_at 'Office Occupations'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC provides short-term on-demand training for employers.  Courses are scheduled at the convenience of clients, and include instruction in the Microsoft Office suite, customer service, office procedures, information management, bookkeeping and accounting.  In addition, our Savakturuq program provides a standards-based soft skills curriculum developed with input from over 75 Alaska employers.
