- content_for :title do
  Our Pathways
=# currently_at ''

%section.panel#panel-name
  .container
    .panel-name
      %p The career pathways ATC offers for students are carefully selected based on emerging trends in Alaska’s economy.  They are centered on preparing you for high-demand high-paying jobs available in Alaska and beyond.  All programs are developed based on industry employer needs and expectations.  They result in professional certifications and college credit.
