- content_for :title do
  Soft Skills
=# currently_at 'Soft Skills'

%section.panel#panel-name
  .container
    .panel-name
      %p ATC students benefit from instruction in the workplace skills that employers expect.  We emphasize responsibility, excellent attendance, and positive collaboration in both the classroom and hands-on work settings.  Students earn Alaska WorkKeys certifications.  Those performing at the highest levels earn the Savakturuq (“works diligently) certificate we have developed with the input of employers worldwide.
