- content_for :title do
  Process Technology
=# currently_at ''

%section.panel#panel-name
  .container
    .panel-name
      %p Process Technologists monitor and control industry equipment and processes for Alaska employers in the oil and gas, mining, power generation industries.  Individuals who like technology, science and mathematics are drawn to this pathway.  Students can earn college credit toward an AAS degree offered in Kotzebue through Alaska Technical Center and the University of Alaska.
