- content_for :title do
  Who We Are
=# currently_at 'Who We Are'

%section.panel#panel-name
  .container
    .panel-name
      %p Alaska Technical Center is an adult training center serving all Alaska, located in Kotzebue.  As a part of the Northwest Arctic Borough School District, we offer student-focused industry backed curricula preparing you for careers in Alaska’s high-demand fields.  We ensure your success by providing any and all support you need to excel in training and workplace.  We even guarantee your future employer that you are ready for success. (link to Our Guarantee under CAREERS pull-down.
