/* Grid
  -----------------------

#grid
  ul
    margin: 0 auto
    +clearfix

    +breakpoint($desktop)
      padding-left: span(1 of 16 wide)/2
      padding-right: span(1 of 16 wide)/2
  .flat-button
    margin-top: 0

.grid-item
  list-style: none
  overflow: hidden
.video-wrapper, .item-wrapper
  position: relative
  padding-bottom: 75%
  height: 0
  iframe, p
    position: absolute
    left: 0
    width: 100%
.video-wrapper
  iframe
    top: 0
    height: 100%
.item-wrapper
  p
    bottom: 0
    margin: 0
    font-weight: 300
    color: $font-white
  span
    display: block
    font-weight: 500

// FIXME ccm: CSS precedents is a problem here.
// Conflicts with typography without #atc/#star.
// Will also need to move to forms.
// #atc, #star
//   .button
//     position: relative
//     font-weight: 300
//     a
//       position: absolute
//       +link-colors($font-white, $font-white, $font-white, $font-white, $font-white)

+breakpoint(max-width $tablet)
  #grid ul
    margin: 0 auto
  .grid-item
    +span(6 of 6)
    margin-bottom: gutter(6)
    clear: both
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(9)
      display: none
  // .button
  //   height: 65px
  //   a
  //     bottom: 15px
  //     right: 25px
  //     font-size: 25px

+breakpoint($tablet $desktop)
  .grid-item
    +span(3 of 9)
    margin-bottom: gutter(9)
    p
      padding: 15px
      font-size: 18px
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9),
    &:last-child
      +last
  // .button
  //   height: 65px
  //   a
  //     bottom: 15px
  //     right: 25px
  //     font-size: 25px

+breakpoint($desktop)
  #grid h2
    margin: 0 0 34px span(1 of 16 wide)/2
  .grid-item
    +span(5 of 15)
    margin-bottom: gutter(15)
    p
      padding: 24px
      font-size: 25px
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9)
      +last
  // .button
  //   height: 85px
  //   a
  //     bottom: 22px
  //     right: 31px
  //     font-size: 30px

#atc
  #grid h2
    margin: 0 span(1 of 16 wide)/2 36px
  .grid-item
    background-color: $color-atc

#star
  .grid-item
    background-color: $color-star
    &:nth-child(2)
      background: image-url("grid/class.jpg") 50% 0 no-repeat
    &:nth-child(5)
      background: image-url("grid/team.jpg") 50% 0 no-repeat
    &:nth-child(7)
      background: image-url("grid/writing.jpg") 50% 0 no-repeat
    &:nth-child(9)
      background: image-url("grid/nature.jpg") 50% 0 no-repeat

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(9)
      position: relative
      p
        display: none
      &:hover
        p
          display: block
          z-index: 2
        &:after
          content: ""
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          background: image-url("grid/roll-over.png") 0 0 no-repeat
