/* Hero
  -----------------------

#hero
  h1
    color: $font-white
  ul, ol
    list-style-position: inside

.iosslider
  position: relative
  top: 0
  left: 0
  width: 1140px
  height: 602px
  overflow: hidden

  .slider
    width: 100%
    height: 100%

  .slide
    float: left
    width: 1140px
    height: 602px

  .text1
    position: absolute
    top: 100px
    // left: 100px
    left: 30px
    // opacity: 0

  .text2
    position: absolute
    top: 150px
    // left: 100px
    left: 30px
    // opacity: 0

#atc
  .hero1
    background: image-url("heroes/hero-1.jpg") 50% 0 no-repeat

  .hero2
    background: image-url("heroes/hero-2.jpg") 50% 0 no-repeat

  .hero3
    background: image-url("heroes/hero-3.jpg") 50% 0 no-repeat

  .hero4
    background: image-url("heroes/hero-4.jpg") 50% 0 no-repeat

#star
  .hero1
    background: image-url("heroes/hero-1.jpg") 50% 0 no-repeat

  .hero2
    background: image-url("heroes/hero-2.jpg") 50% 0 no-repeat

  .hero3
    background: image-url("heroes/hero-3.jpg") 50% 0 no-repeat

  .hero4
    background: image-url("heroes/hero-4.jpg") 50% 0 no-repeat

.prev-slide
  position: absolute
  top: 130px
  left: 0
  width: 20px
  height: 40px
  background-color: white
  z-index: 2

.next-slide
  position: absolute
  top: 130px
  right: 0
  width: 20px
  height: 40px
  background-color: white
  z-index: 2

.slider-buttons
  position: absolute
  bottom: 10px
  left: 10px
  width: 200px
  height: 10px

  .button
    float: left
    width: 9px
    height: 9px
    margin: 0 10px 0 0
    background: #fff
    opacity: 0.25
    border: 1px solid #000

  .selected
    background: #fff
    opacity: 1


/* Gallery
  -----------------------

.gallery
  margin: 0 auto
  img,
  img.long
    max-width: 100%
    height: auto
  +clearfix

  +breakpoint($desktop)
    padding-left: span(2 of 16 wide)
    padding-right: span(2 of 16 wide)

.gallery_item
  list-style: none

  +breakpoint(max-width $tablet)
    +span(3 of 6)
    margin-bottom: gutter(6)
    &:nth-child(2n+1)
      +last
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:last-child
      display: none

  +breakpoint($tablet $desktop)
    +span(3 of 9)
    margin-bottom: gutter(9)
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(7),
    &:last-child
      +last

  +breakpoint($desktop)
    +span(3 of 12)
    height: 202px
    margin-bottom: gutter(12)
    &:nth-child(3),
    &:nth-child(6),
    &:last-child
      +last

.long
  +breakpoint(max-width $tablet)
    +span(8 of 8)

  +breakpoint($tablet $desktop)
    +span(6 of 9)

  +breakpoint($desktop)
    +span(6 of 12)
