/* Heroes
  -----------------------

#hero
  h1
    line-height: 1
    margin: 0
    font-size: 25px
    color: $font-white
    white-space: nowrap
  ul, ol
    list-style-position: inside
  a
    display: inline-block
    font-size: 20px
    font-weight: 300
    text-decoration: none
    &:hover
      text-decoration: underline

  +breakpoint($tablet)
    h1
      font-size: 35px
    a
      font-size: 25px

  +breakpoint($desktop)
    h1
      font-size: 55px
    a
      font-size: 35px

#atc #hero
  a
    color: $color-atc

#star #hero a
  color: $color-star

.iosslider
  position: relative // required
  top: 0 // required
  left: 0 // required
  overflow: hidden // required
  width: 660px
  max-width: 100%
  height: 283px
  margin: 0 auto
  .container
    position: relative
  .slider
    width: 100% // required
    height: 100% // required
  .slide
    float: left // required
    width: 660px
    height: 283px
    .container
      height: 100%

  +breakpoint($tablet)
    width: 980px
    height: 420px
    .slide
      width: 980px
      height: 420px

  +breakpoint($desktop)
    width: 1400px
    height: 600px
    .slide
      width: 1400px
      height: 600px

.hero1, .hero2, .hero3, .hero4
  &:after
    content: ""
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: image-url("heroes/fade-283.png") 0 0 repeat-x

+breakpoint($tablet)
  .hero1, .hero2, .hero3, .hero4
    &:after
      background: image-url("heroes/fade-420.png") 0 0 repeat-x

+breakpoint($desktop)
  .hero1, .hero2, .hero3, .hero4
    &:after
      background: image-url("heroes/fade.png") 0 0 repeat-x

.no-js
  .hero2, .hero3, .hero4
    +hidden
    &:after
      +hidden

#atc
  .hero1, .hero2, .hero3, .hero4
    background: image-url("heroes/atc-hero-sprite-660-q40.jpg") 0 0 no-repeat

  +breakpoint($tablet)
    .hero1, .hero2, .hero3, .hero4
      background: image-url("heroes/atc-hero-sprite-980-q40.jpg") 0 0 no-repeat

  +breakpoint($desktop)
    .hero1, .hero2, .hero3, .hero4
      background: image-url("heroes/atc-hero-sprite-q40.jpg") 0 0 no-repeat

#star
  .hero1, .hero2, .hero3, .hero4
    background: image-url("heroes/star-hero-sprite-660-q40.jpg") 0 0 no-repeat

  +breakpoint($tablet)
    .hero1, .hero2, .hero3, .hero4
      background: image-url("heroes/star-hero-sprite-980-q40.jpg") 0 0 no-repeat

  +breakpoint($desktop)
    .hero1, .hero2, .hero3, .hero4
      background: image-url("heroes/star-hero-sprite-q40.jpg") 0 0 no-repeat

#atc, #star
  .hero2
    background-position: -660px 0
  .hero3
    background-position: 0 -283px
  .hero4
    background-position: -660px -283px

  +breakpoint($tablet)
    .hero2
      background-position: -980px 0
    .hero3
      background-position: 0 -420px
    .hero4
      background-position: -980px -420px

  +breakpoint($desktop)
    .hero2
      background-position: -1400px 0
    .hero3
      background-position: 0 -600px
    .hero4
      background-position: -1400px -600px

.text, .fade1, .fade2, .fade3, .swish1, .swish2
  z-index: 1
.text, .swish1, .swish2, .fade3
  position: absolute
  bottom: 25px
  left: 125px
  right: 0
.fade1, .fade2, .fade3, .swish1, .swish2
  opacity: 0
.swish1, .swish2
  left: 525px
.swish1
  bottom: 59px

+breakpoint($tablet)
  .text, .swish1, .swish2, .fade3
    bottom: 40px
  .swish1
    bottom: 79px

+breakpoint($desktop)
  .text, .swish1, .swish2, .fade3
    bottom: 50px
  .swish1
    bottom: 111px

.no-js
  .fade1, .fade2
    opacity: 1

.prev-slide, .next-slide
  position: absolute
  top: -145px
  width: 27px
  height: 29px
  z-index: 2
.prev-slide
  left: 20px
  background: image-url("star-home-sprite-660.png") 0 -215px no-repeat
  &:hover
    background-position: 0 -250px
.next-slide
  right: 20px
  background: image-url("star-home-sprite-660.png") -35px -215px no-repeat
  &:hover
    background-position: -35px -250px
.slider-buttons
  position: absolute
  bottom: 10px
  right: 85px
  width: 77px
  height: 11px
  .button
    float: left
    width: 11px
    height: 11px
    margin-right: 11px
    +border-radius(11px)
    &:last-child
      margin-right: 0

+breakpoint($tablet)
  .prev-slide, .next-slide
    top: -230px
  .prev-slide
    left: 25px
    background: image-url("star-home-sprite-980.png") -260px -95px no-repeat
    &:hover
      background-position: -260px -130px
  .next-slide
    right: 25px
    background: image-url("star-home-sprite-980.png") -290px -95px no-repeat
    &:hover
      background-position: -290px -130px
  .slider-buttons
    bottom: 25px
    right: 76px
    width: 79px
    height: 13px
    .button
      width: 13px
      height: 13px
      margin-right: 9px
      +border-radius(13px)

+breakpoint($desktop)
  .prev-slide, .next-slide
    top: -315px
  .prev-slide
    left: 50px
    background: image-url("star-home-sprite.png") -280px -110px no-repeat
    &:hover
      background-position: -280px -150px
  .next-slide
    right: 50px
    background: image-url("star-home-sprite.png") -320px -110px no-repeat
    &:hover
      background-position: -320px -150px
  .slider-buttons
    bottom: 28px
    right: 85px
    width: 101px
    height: 17px
    .button
      width: 17px
      height: 17px
      margin-right: 11px
      +border-radius(17px)

.no-js
  .prev-slide, .next-slide, .slider-buttons
    +hidden

#atc .slider-buttons
  .button
    background: $color-white
    &:hover
      background: $color-atc
  .selected
    background: $color-atc

#star .slider-buttons
  .button
    background: $color-white
    &:hover
      background: $color-star
  .selected
    background: $color-star
