@viewport
  width: device-width

@-ms-viewport
  width: device-width


/* Base
  -----------------------

html
  // line-height: $base-line-height
  font-family: $base-font-family
  // font-size: $base-font-size
  color: $base-font-color
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  background-color: $bg-body
  // &:after
  //   +rwd-marker

#splash
  background-color: $bg-body-splash

.wrapper
  // margin: 0 auto
  // overflow: hidden

.container
  +container()
  padding-left: 10px
  padding-right: 10px

  +breakpoint($tablet)
    +show-grid(9)

  +breakpoint($desktop)
    +show-grid(16)

audio,
canvas,
img,
svg,
video
  vertical-align: middle


/* Header
  -----------------------

// navigation in _navigation.sass

header
  height: 150px
  margin-bottom: 10px
  background-color: $bg-header

.logo
  float: left
  margin: 10px 0 0 0
  +link-colors($color-logo, $color-logo, $color-logo, $color-logo, $color-logo)


/* Footer
  -----------------------

.splash
  footer
    margin-top: 80px
    font-size: 75%
    text-align: center
    ul
      margin: 0
      color: $font-gray
      li
        display: inline-block
        padding: 0 5px
      li:first-child
        padding-left: 0
      a
        +link-colors($font-gray, $link-hover, $font-gray, $font-gray, $font-gray)

    p
      margin-top: 5px
      color: $font-black

  +breakpoint($tablet)
    footer
      margin-top: 40px
