@viewport
  width: device-width

@-ms-viewport
  width: device-width


/* Base
  -----------------------

html
  // line-height: $base-line-height
  font-family: $base-font-family
  // font-size: $base-font-size
  color: $color-base-font
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations */
  overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  background-color: $bg-body
  &:after
    +rwd-marker

#splash
  background-color: $bg-body-splash

// FIXME ccm: Remove this is not used.
.wrapper
  // margin: 0 auto
  // overflow: hidden

.container
  +container()
  padding-left: 10px
  padding-right: 10px

  +breakpoint($tablet)
    +show-grid(9)

  +breakpoint($desktop)
    +show-grid(16)

audio,
canvas,
img,
svg,
video
  vertical-align: middle


/* Header
  -----------------------

// navigation in _navigation.sass

header
  position: absolute
  width: 100%
  z-index: 1000

.logo
  display: block
  float: left
  width: 125px
  height: 68px
  margin: 20px 0 0 10px
  background: image-url("logos/star-logo-125.png") 0 0 no-repeat

  +breakpoint($tablet)
    width: 190px
    height: 103px
    margin: 25px 0 0 40px
    background: image-url("logos/star-logo.png") 0 0 no-repeat

  +breakpoint($desktop)
    margin: 30px 0 0 80px

/* Footer
  -----------------------

#splash footer
  margin-top: 80px
  font-size: 75%
  text-align: center
  ul
    margin: 0
    color: $font-gray
    li
      display: inline-block
      padding: 0 5px
    li:first-child
      padding-left: 0
    a
      +link-colors($font-gray, $link-hover, $font-gray, $font-gray, $font-gray)
  p
    margin-top: 20px
    color: $font-black

  +breakpoint($tablet)
    margin-top: 60px

#atc footer
  background-color: $color-atc

#star footer
  background-color: $color-star

#atc footer, #star footer
  padding-bottom: 40px
  color: $font-white
  a
    +link-colors($font-white, $font-white, $font-white, $font-white, $font-white)
  p
    margin: 0

  .info-column
    +span(6 of 6)
    padding-top: 30px
    font-size: 14px
    ul
      margin: 0
      li
        display: inline-block
        padding: 0 5px
      li:first-child
        padding-left: 0
    .phone-number, .address
      margin-top: 25px
    .phone-number
      span
        margin-right: 10px
    .adr
      font-weight: 300

    +breakpoint($tablet)
      +span(5 of 9)
      padding-top: 60px
      .phone-number, .address
        margin-top: 45px

    +breakpoint($desktop)
      +span(12 of 16)

  .district-column
    +span(6 of 6)
    padding-top: 25px
    font-size: 9px
    font-weight: 300
    a
      display: block
      width: 100px
      height: 102px
      margin-bottom: 25px
      background: image-url("logos/nwabsd-logo-100.png") 0 0 no-repeat

    +breakpoint($tablet)
      +span(4 of 9 last)
      padding-top: 50px
      text-align: center
      a
        width: 191px
        height: 195px
        margin-left: auto
        margin-right: auto
        background: image-url("logos/nwabsd-logo.png") 0 0 no-repeat

    +breakpoint($desktop)
      +span(4 of 16 last)
      a
        width: 191px
        height: 195px
        background: image-url("logos/nwabsd-logo.png") 0 0 no-repeat
