/* Main
  -----------------------

nav
  float: right
  margin-top: 10px
  ul
    margin: 0

  li
    float: left
    display: inline
    a
      display: block
      margin-right: 20px
      padding-left: 5px
    ul
      position: absolute
      width: 250px
      padding-top: 15px
      li
        width: 250px
        a
          display: block
          padding: 5px
      li:hover a
        background: #f7f7f7

  li
    ul.fallback
      display: none
  li:hover
    ul.fallback
      display: block
