/* Typography
  -----------------------

.medium
  font-weight: 500

.light
  font-weight: 300

.thin
  font-weight: 100


/* Paragraphs
  -----------------------

p
  margin: 0 0 17px
  font-size: 16px

+breakpoint($tablet)
  p
    margin-bottom: 19px
    font-size: 17px

+breakpoint($desktop)
  p
    margin-bottom: 22px
    font-size: 18px


/* Links
  -----------------------

#atc
  a
    +link-colors($link-normal-atc, $link-hover-atc, $link-active-atc, $link-visited-atc, $link-focus-atc)
    &:hover
      text-decoration: none

#star
  a
    +link-colors($link-normal-star, $link-hover-star, $link-active-star, $link-visited-star, $link-focus-star)
    &:hover
      text-decoration: none


/* Headers
  -----------------------

h1, h2, h3, h4, h5
  font-family: $font-family-header
  font-weight: 500

h2
  margin: 0
  margin: 0 0 18px

+breakpoint($tablet)
  h2
    font-size: 30px
    margin-bottom: 22px

+breakpoint($desktop)
  h2
    font-size: 30px
    margin-bottom: 28px

#atc
  h2
    color: $color-atc

#star
  h2
    color: $color-star


/* Highlighters
  -----------------------

#atc
  ::-moz-selection
    background: $color-highlight-atc
    text-shadow: none

  ::selection
    background: $color-highlight-atc
    text-shadow: none

#star
  ::-moz-selection
    background: $color-highlight-star
    text-shadow: none

  ::selection
    background: $color-highlight-star
    text-shadow: none
