%footer{role: 'contentinfo'}
  .container
    .info-column
      %nav
        %ul
          %li
            = link_to 'About', about_path, title: ''
            %li &#124;
          %li
            = link_to 'Contact', contact_path, title: ''
      .phone-number
        %p
          %span.light Toll Free:
          %a{href: 'callto://1-866-442-1607', title: 'Toll Free Number', class: 'callto'} 800-478-3733
          %a{href: 'tel://1-866-442-1607', title: 'Toll Free Number', class: 'tel'} 800-478-3733
        %p
          %span.light Phone:
          %a{href: 'callto://907-442-1607', title: 'Main Number', class: 'callto'} 907-442-1500
          %a{href: 'tel://907-442-1607', title: 'Main Number', class: 'tel'} 907-442-1500
        %p
          %span.light Email:
          = mail_to 'star@nwarctic.org'
      .address
        .vcard
          %p.fn.org Star of the Northwest Magnet School
          .adr
            %p.street-address PO Box 51
            %p
              %span.locality> Kotzebue
              ,
              %span.region Alaska
              %span.postal-code 99752
    .district-column
      = image_tag 'logos/nwabsd-logo.png', alt: 'NWABSD Logo', width: '191', height: '195'
      %p.copyright &copy; Northwest Arctic Borough School District 2014
