- content_for :title do
  Design
=# currently_at ''

%section.panel#design-1
  .container
    .design-1
      %h1 Design Measurements
      %p An article I wrote:
      %a{:href => 'http://www.chrismaxwell.com/what-devices-should-you-target-with-breakpoints', :title => ''} What Devices Should You Target with Breakpoints?
      %p But essentially:
      %ul
        %li 320px (iPhone portrait, default)
        %li 480px (iPhone landscape)
        %li 768px (iPad portrait)
        %li 1024px (iPad landscape)
        %li 1140+ (Desktops)

%section.panel#design-2
  .container
    .design-2
      %h1 Resize and watch this panel.

