- content_for :title do
  Design
=# currently_at ''

%section.panel#design
  .container
    .design
      %h2 Measurements
      %a{href: 'http://www.chrismaxwell.com/what-devices-should-you-target-with-breakpoints', title: ''} What Devices Should You Target with Breakpoints?
      %br
      %ul
        %li 320px (iPhone portrait, default)
        %li 480px (iPhone landscape)
        %li 768px (iPad portrait)
        %li 1024px (iPad landscape)
        %li 1140px (Desktops)
      %p Resize and watch column backgrounds/RWD Marker.

      %h2 Mobvious Test
      %p
        This device is a:&nbsp;
        %strong= device_test
