%section.panel#panel-1
  .container
    .panel-1
      %h1= link_to 'ATC', atc_path, :title   => 'Alaska Technical Center'
      %h1= link_to 'Star', star_path, :title => 'Star of the Northwest Magnet School'
