- content_for :title do
  NW Arctic
=# currently_at ''

.splash
  %a{href: '/atc', title: 'Alaska Technical Center', class: 'atc-logo'}
    %span.ir Alaska Technical Center
    %span.adults
      Programs for
      %br
      Adult Learners
  %a{href: '/star', title: 'Star of the Northwest Magnet School', class: 'star-logo'}
    %span.ir Star of the Northwest Magnet School
    %span.highschool
      Programs for
      %br
      High School Learners
  %footer{role: 'contentinfo'}
    %ul
      %li= link_to 'ATC', atc_path, title: 'Alaska Technical Center'
      %li &#124;
      %li= link_to 'Star', star_path, title: 'Star of the Northwest Magnet School'
    %p Northwest Arctic Borough School District
