/* Fonts
  -----------------------

// typekit...

$clavo:               "clavo", "Helvetica Neue", Helvetica, sans-serif

// base definitions...

// FIXME ccm: This is causing: "Incompatible units: '%' and 'px'."
// The leader is the amount of whitespace in a line.
// It might be useful in your calculations.
// $base-leader: convert-length($base-line-height - $base-font-size, $rhythm-unit, $base-font-size);

$base-font-family:    $clavo            !default
$base-font-size-2:    100%              !default
$base-line-height-2:  1.2               !default

// font family...

$font-family-header:  $clavo            !default
$font-family-nav:     $clavo            !default
$font-family-button:  $clavo            !default


/* Colors
  -----------------------

// color palette...

$color-star:        #3bafac
$color-star-rgba:   rgba(59, 172, 175, .8)
$color-atc:         #105d4b
$color-atc-rgba:    rgba(16, 93, 75, .8)
$color-white:       #fff
$color-white-rgba:  rgba(255, 255, 255, .8)

// panels...

$bg-panel-star:     #c8e9e8

/* temporary
$bg-star-panel:     rgba(59, 172, 175, .05)
$bg-atc-panel:      rgba(16, 93, 75, .05)

// backgrounds...

$bg-body:           #fff
$bg-body-splash:    #fcfcfc

// fonts...

$color-base-font:   #2b2b2b      !default

$font-white:        #fff
$font-gray:         #959595
$font-black:        #404040

// links...

$color-link:        #2185c5

$link-normal:       darken($color-link, 10)
$link-hover:        lighten($color-link, 10)
$link-active:       darken($color-link, 10)
$link-visited:      darken($color-link, 10)
$link-focus:        darken($color-link, 10)

$link-normal-star:  $color-star
$link-hover-star:   lighten($color-star, 10)
$link-active-star:  $color-star
$link-visited-star: $color-star
$link-focus-star:   $color-star

$link-normal-atc:   $color-atc
$link-hover-atc:    lighten($color-atc, 10)
$link-active-atc:   $color-atc
$link-visited-atc:  $color-atc
$link-focus-atc:    $color-atc

// miscellaneous...

$color-highlight-atc:  lighten($color-atc, 20)
$color-highlight-star: lighten($color-star, 20)
// FIXME ccm: May not need this.
$color-border:         #c3c3c3

// alerts...

$info-lgt:          #eaeff5
$info-drk:          #33689a
$success-lgt:       #f4f7f0
$success-drk:       #669934
$warning-lgt:       #ffffd9
$warning-drk:       #cc682a
$error-lgt:         #f9eae5
$error-drk:         #cf3303

// KEY: 1. lgt-blu, 2. drk-blu, 3. lgt-grn, 4. drk-grn,
//      5. lgt-ylo, 6. drk-orj, 7. lgt-red, 8. drk-red
