/* DEFINITIONS
  ============================================================================ */
@import "modular_scale";
@import "define";

/* Susy Grid
  ----------------------- */

$total-columns:     4;
$column-width:      $scale11;
$gutter-width:      $scale;
$grid-padding:      $gutter-width;

$break9:            9;
$break12:           12;


/* MIXINS
  ============================================================================ */
@import "compass";
// @import "media_queries";
@import "mixins";


/* RESETS
  ============================================================================ */
@import "boilerplate/h5bp_normalize_v301";

// To counter normalize indentation of lists.
ol, ul {
  padding-left: 0;
}


/* BASIC STRUCTURE
  ============================================================================ */
@import "susy";
@import "desktop/layout";


/* TYPOGRAPHY
  ============================================================================ */
@import "desktop/typography";


/* MISCELLANEOUS
  ============================================================================ */
@import "misc";
@import "sprites";


/* NAVIGATION
  ============================================================================ */
@import "desktop/navigation";


/* FORMS
  ============================================================================ */
@import "desktop/forms";


/* PAGES
  ============================================================================ */
@import "desktop/pages";


/* STAGING - new styles belong here !!!DO NOT INTEGRATE!!!
  ============================================================================ */
@import "desktop/staging";


/* APPLICATION - ad hoc code under this line
  ============================================================================ */

.design-2 {
  background-color: blue;
}

/* LAST
  ============================================================================ */
@import "boilerplate/h5bp_helpers";
@import "boilerplate/h5bp_print";
